@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); 
.App {
  text-align: center;
  background-color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
}

.App__body{
  width:1050px;
  max-width:100%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  height: 100%;
}

.App__profile{
  width:250px;
}
.App__feed{
  width:500px;
}
.ads{
  width: 250px;
  background-color: #ffffff;

}

/*Header*/
.header{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #A95C68;
  color: #ffffff;
}

Button{
  color: #fff;
}

.header__button{
  color:#A95C68;
  background-color: #ffffff;
}
.header__button:hover{
  color:#ffffff;
}

.Header__sigin{
  background: none;
  outline:none;
  border:none;
  color:#005b96;
  cursor: pointer;
}
.Header__sigin:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 1024px){
  .ads{
    display: none;
  }
}

@media only screen and (max-width: 500px){
  .makeStyles-paper-1{
    width: 100%;
    max-width: 70%;
  }
}